In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

from numpy.random import randn

In [3]:
ser1 = Series([1,2,3,4],index = ['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [6]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [7]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [8]:
ranger = range(15)
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [9]:
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [11]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],
                  columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A  0.733074 -1.703210  0.264520  0.233399 -0.169827
B  0.587464 -0.691120  1.983147 -0.105761 -1.060140
D -0.823324  1.445214 -1.024064 -0.323541  0.377839
E -1.986361  0.220679 -1.010926  0.315214 -0.718770
F  0.175504 -0.216348 -1.136121  0.690530  0.244321

In [12]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A  0.733074 -1.703210  0.264520  0.233399 -0.169827
B  0.587464 -0.691120  1.983147 -0.105761 -1.060140
C       NaN       NaN       NaN       NaN       NaN
D -0.823324  1.445214 -1.024064 -0.323541  0.377839
E -1.986361  0.220679 -1.010926  0.315214 -0.718770
F  0.175504 -0.216348 -1.136121  0.690530  0.244321

In [13]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [14]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.733074 -1.703210  0.264520  0.233399 -0.169827   NaN
B  0.587464 -0.691120  1.983147 -0.105761 -1.060140   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.823324  1.445214 -1.024064 -0.323541  0.377839   NaN
E -1.986361  0.220679 -1.010926  0.315214 -0.718770   NaN
F  0.175504 -0.216348 -1.136121  0.690530  0.244321   NaN

In [15]:
dframe

       col1      col2      col3      col4      col5
A  0.733074 -1.703210  0.264520  0.233399 -0.169827
B  0.587464 -0.691120  1.983147 -0.105761 -1.060140
D -0.823324  1.445214 -1.024064 -0.323541  0.377839
E -1.986361  0.220679 -1.010926  0.315214 -0.718770
F  0.175504 -0.216348 -1.136121  0.690530  0.244321

In [19]:
dframe.loc[['A','B','C','D','E','F'],new_columns]

C:\Users\Andrew\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

       col1      col2      col3      col4      col5  col6
A  0.733074 -1.703210  0.264520  0.233399 -0.169827   NaN
B  0.587464 -0.691120  1.983147 -0.105761 -1.060140   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.823324  1.445214 -1.024064 -0.323541  0.377839   NaN
E -1.986361  0.220679 -1.010926  0.315214 -0.718770   NaN
F  0.175504 -0.216348 -1.136121  0.690530  0.244321   NaN